@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/satoshi/Satoshi-Regular.ttf');
}